<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
">

<!-- lectura de archivo externo ${nombre-dato} -->
<context:property-placeholder location="classpath:datosEmpresa.propiedades"/>

<!-- creacion de la dependencia -->
<bean id="miInforme" class="cl.empleados.Informe"></bean>

<!-- componente miEmpleado -->
<bean id="miEmpleado" class="cl.empleados.DirectorEmpleado" 
	  init-method="metodoInicial" destroy-method="metodoFinal">
	<constructor-arg ref="miInforme"></constructor-arg>
	<property name="email" value="${emailDirectivo}"></property>
	<property name="nombreEmpresa" value="${nombreEmpresa}"></property>
</bean>

<!-- componente miSecretarioEmpleadoSingleton -->
<!--  singleton se genera un solo componente para todas las instancias -->
<bean id="miSecretarioEmpleadoSingleton" class="cl.empleados.SecretarioEmpleado"  scope="singleton">
	<property name="informeNuevo" ref="miInforme"></property>
	<property name="email" value="${emailSecretariado}"></property>
	<property name="nombreEmpresa" value="${nombreEmpresa}"></property>
</bean>

<!-- componente miSecretarioEmpleadoPrototype -->
<!-- prototype se genera un componente por instancia -->
<bean id="miSecretarioEmpleadoPrototype" class="cl.empleados.SecretarioEmpleado"  scope="prototype">
	<property name="informeNuevo" ref="miInforme"></property>
	<property name="email" value="${emailSecretariado}"></property>
	<property name="nombreEmpresa" value="${nombreEmpresa}"></property>
</bean>

</beans>